/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-green: #1ABC9C;
}

/* 
    GENERAL
*/

body {
    background-color: black;
}

.container_bg {
    max-width: 1600px;
    margin: 0 auto;
}

footer i {
    padding: 0 10px;
}

/*
    MAIN
*/

.avatar {
    max-width: 300px;
}

img {
    width: 100%;
}
