/* 
    RESET
*/

:root {
    --bg_green: #1ABC9C;
}

/* 
    GENERAL
*/
body {
    background-color: black;
}

.container_bg {
    max-width: 1600px;
    margin: 0 auto;
}

.bg_green {
    background-color: var(--bg_green);
}

.custom_green {
    color: var(--bg_green);
}

/*
    MAIN
*/
.avatar {
    max-width: 300px;
}

img {
    width: 100%;
}

