/* 
    RESET
*/

:root {
    --bg_green: #1ABC9C;
}

/* 
    GENERAL
*/
body {
    background-color: black;
}

.container_bg {
    max-width: 1600px;
    margin: 0 auto;
}

.bg_green {
    background-color: var(--bg_green);
}

.custom_green {
    color: var(--bg_green);
}

/*
    MAIN
*/
.avatar {
    max-width: 300px;
}

img {
    width: 100%;
}

.bar {
    height: 5px;
    margin: 0 10px;
    width: 150px;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=number], .form-control {
    margin: 10px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
}